# Immich: ./immich/secrets/
postgres_password.txt
postgres_username.txt

# Traefik: ./traefik/
cf_api_token.txt
# ./traefik/data/
acme.json
logs/
# ./traefik/data/dynamic/
dynamic*.yml

# Environment files
.env*

# but don't ignore any files with the .example suffix
!*.example

# vscode
projects.code-workspace
