# Bearer <Hardcover API token>
HARDCOVER_AUTH=
# Generate a random string of characters without symbols
POSTGRES_PASSWORD=
POSTGRES_USER=rreading-glasses
POSTGRES_DB=rreading-glasses
POSTGRES_DATABASE=rreading-glasses
POSTGRES_HOST=rreading-glasses-db
